/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora";
  overflow-x: hidden;
  z-index: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Play";
}
::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 8px;
}

/* NAVIGATION */
nav.nav {
  width: 100VW;
  height: 108px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}
nav.nav-scroll {
  height: 56px;
  background-color: white;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
  transition: all 0.3s ease;
}
nav.nav-scroll div.nav-head {
  overflow-y: hidden;
}
nav.nav-scroll div.nav-head-content, nav.nav-scroll a.nav-link {
  color: black;
}
div.nav-head {
  width: 50%;
  display: flex;
  padding: 16px;
  padding-left: 128px;
  align-items: center;
}
div.nav-head-content {
  color: white;
  padding-left: 16px;
}
h5.nav-subtitle {
  font-weight: 300;
}
img.nav-image {
  width: 64px;
  height: auto;
}
div.nav-body {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 64px;
}
ul.nav-list {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
li.nav-item {
  display: inline;
}
a.nav-link {
  text-decoration: none;
  color: white;
  opacity: 0.85;
}
a.nav-link:hover {
  transform: translateY(4px);
}

/* HOME PAGE */
section#hero {
  width: 100VW;
  height: 100VH;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../media/Hero Image.jpg");
  background-size: cover;
  background-attachment: fixed;
}
img#hero-side-image {
  width: 100%;
  height: auto;
  transform: scale(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
div#hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0d1b40;
  opacity: 0.8;
  filter: brightness(0.7);
}
div#hero-body {
  z-index: 2;
  width: 75%;
}
h1#hero-title {
  color: white;
  font-size: 56px;
  max-width: 700px;
  margin-bottom: 36px;
}
p#hero-description {
  color: white;
  max-width: 1000px;
  opacity: 0.85;
  margin-bottom: 12px;
}
div#hero-buttons {
  padding: 24px 0px;
  margin-bottom: -8px;
}
a.hero-cta-button {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  padding: 8px 16px;
  margin-right: 32px;
  font-family: "Play";
  transition: all 0.3s ease;
}
a.hero-cta-button:hover {
  color: black;
  background: white;
}
a.cta-button-primary {
  background: white;
  color: black;
}
a.cta-button-primary:hover {
  color: white;
  background: none;
}

/* SERVICES SECTION */
section#services {
  width: 100VW;
  height: 85VH;
  padding: 96px 164px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 48px;
  background: #100028;
}
div#services-head {

}
h3#services-subtitle {
  text-transform: uppercase;
  color: white;
  opacity: 0.95;
  font-weight: 300;
  letter-spacing: 4px;
}
h2#services-title {
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  margin: 12px 0;
}
div#services-divider {
  width: 72px;
  height: 4px;
  background-color: #405aa0;
  margin: 32px 0;
}
p#services-description {
  color: #999;
  line-height: 24px;
}
div#services-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  grid-row-gap: 48px;
  align-content: center;
}
div.service {
  overflow: hidden;
}
img.service-icon {
  width: 48px;
  filter: invert();
  border: 2px solid #405aa0;
  padding: 8px;
}
h4.service-title {
  color: white;
  font-size: 24px;
  margin: 16px 0;
}
p.service-description {
  color: #999;
  line-height: 24px;
}

/* PORTFOLIO PAGE */
div#portfolio-overlay {
  width: 100VW;
  height: 100VH;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1
}
header.header {
  width: 100VW;
  height: 55VH;
  background-image: url("../media/Header Background.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0d1b40;
  opacity: 0.9;
}
div.header-content {
  text-align: center;
}
h1.header-title {
  font-size: 56px;
  color: white;
}
h6.header-breadcrumbs {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

/* CLIENTS SECTION */
section#clients {
  padding: 64px 128px;;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  background: white;
}
h2#clients-title {
  grid-column: span 2;
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
}
div.client {
  box-shadow: 1px 1px 3px rgba(40, 40, 40, 0.3);
  background: white;
}
div.client-active {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90VW;
  height: 80VH;
}
div.client-active div.client-image-container {
  max-height: 400px;
}
div.client-image-container {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
img.client-image {
  width: 100%;
}
img.client-image:hover {
  cursor: pointer;
}
h3.client-title {
  margin: 16px;
  text-align: center;
}
p.client-stack {
  font-size: 12px;
  margin: 0 8px;
  opacity: 0.7;
  text-align: center;
  font-weight: 300;
}
p.client-description {
  margin: 16px;
  opacity: 0.9;
}
blockquote.client-testimonial {
  border-left: 3px solid rgba(60, 60, 60, 0.7);
  padding: 16px;
  background: rgba(230, 230, 230, 0.5);
  display: block;
  margin: 16px 48px;
  opacity: 0.7;
}
p.client-testimonial-author {
  margin-bottom: 16px;
  margin-right: 16px;
  opacity: 0.7;
  text-align: right;
}
a.client-link {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 16px;
}

/* PORTFOLIO SECTION */
section#portfolio {
  padding: 64px 128px;;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  background: rgb(230, 230, 230);
}
h2#portfolio-title {
  grid-column: span 3;
  text-align: center;
  font-size: 36px;
}
div.portfolio-item {
  height: auto;
  overflow-y: hidden;
  background: white;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(80, 80, 80, 0.2);
  transition: all 0.3s ease;
}
div.portfolio-item:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
img.portfolio-image {
  width: 100%;
  height: auto;
}
h3.portfolio-item-title {
  text-align: center;
  margin-top: 16px;
}
p.portfolio-item-stack {
  font-size: 12px;
  margin: 0 8px;
  opacity: 0.7;
  text-align: center;
  font-weight: 300;
}
p.portfolio-item-description {
  margin: 16px;
  opacity: 0.9;
}
a.portfolio-item-link {
  display: block;
  margin: 16px auto;
  text-decoration: none;
  text-align: center;
}

/* CERTIFICATIONS SECTION */
section#certifications {
  padding: 64px 128px;;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  background: white;
}
h2#certifications-title {
  grid-column: span 3;
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
}
h3#certifications-subtitle {
  grid-column: span 3;
  text-align: center;
}
img.certification-image {
  width: 100%;
}

/* CONTACT PAGE */
body#contact header.header {
  background-image: url("../media/Contact Header Background.jpg");
}
body#contact div.header-overlay {
  background: #405aa0;
}
div.contact {
  width: 100%;
  min-height: 40VH;
  padding: 128px;
}
h2#contact-title {
  margin: 16px 0;
}
img.contact-icon {
  width: 24px;
}
a.contact-method {
  display: inline-block;
  font-size: 16pt;
  text-decoration: none;
  color: #405aa0;
  margin-left: 8px;
}
p.contact-description {
  opacity: 0.8;
  margin-top: 16px;
}
